nav {
  background: #2e7d32;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #c8e6c9;
}
